
# =========================
# Ignore OS X Files
# =========================

.DS_Store
.Spotlight-V100
.Trashes
Thumbs.db

# =========================
# Ignore Dependencies
# =========================

node_modules

# =========================
# Ignore Others
# =========================

.*.sw[op]
.sass-cache
*.scssc
.env.*.php
.env.php

composer.phar
composer.lock

# =========================
# Ignore Folders
# =========================

/.idea
/_design
/bootstrap/compiled.php
/vendor